@font-face {
   font-family: '繁媛明朝 SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/Shpri/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-21_205418/fonts/%E7%B9%81%E5%AA%9B%E6%98%8E%E6%9C%9D%20SemiBold/font.ttf');
}
