@font-face {
   font-family: '极影毁片文宋';
   font-display: swap;
   src: url('file:///C:/Users/Shpri/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-06-21_205418/fonts/%E6%9E%81%E5%BD%B1%E6%AF%81%E7%89%87%E6%96%87%E5%AE%8B/font.ttf');
}
